<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

        <div style="font:11px/1.35em Tahoma, Verdana, Arial, Helvetica, sans-serif; direction:rtl; text-align:right;">
         <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Tahoma, Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px; direction:rtl; text-align:right;">
             <tr>
                    <td align="center" valign="top">
                    <!-- [ header starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                                 <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a></p></td>
                            </tr>
                       </table>

                    <!-- [ middle starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                             <p><strong>{{htmlescape var=$user.name}}، عزیز</strong>،<br/>
                                <table cellspacing="0" cellpadding="0" border="0" style="width:auto;">
                                    <tr>
                                    	<td>گذرواژه‌ی جدید شما هست:</td>
                                        <td style="direction:ltr; text-align:left; padding-right:5px;">{{htmlescape var=$password}}</td>
                                    </tr>
                                </table>
                                                               <p>شما می‌توانید در هر زمانی با ورود به <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">حساب‌تان</a> گذرواژه‌یتان را تغییر دهید.<p>

                                <p>با سپاس دوباره،<br/><strong>فروشگاه {{var store.getFrontendName()}}</strong></p>


                             </td>
                           </tr>
                       </table>

                    </td>
               </tr>
           </table>
            </div>
