<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Autosearch>  
			<version>1.1.0</version>  
		</Ves_Autosearch>  
	</modules>
	<frontend>
        <routers>
            <vesautosearch>
                <use>standard</use>
                <args>
                    <module>Ves_Autosearch</module>
                    <frontName>vesautosearch</frontName>
                </args>
            </vesautosearch>
        </routers>
        <translate>
            <modules>
                <Ves_Autosearch>
                    <files>
                        <default>Ves_Autosearch.csv</default>
                    </files>
                </Ves_Autosearch>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_autosearch>
                    <file>ves_autosearch.xml</file>
                </ves_autosearch>
            </updates>
        </layout>
    </frontend>	
	<global>
		<blocks>
         <ves_autosearch>
            <class>Ves_Autosearch_Block</class>
         </ves_autosearch>
        </blocks>
        <helpers>
            <ves_autosearch>
                <class>Ves_Autosearch_Helper</class>
            </ves_autosearch>
        </helpers>
        <resources>
            <ves_autosearch_setup>
                <setup>
                    <module>Ves_Autosearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_autosearch_setup>
            <ves_autosearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_autosearch_write>
            <ves_autosearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_autosearch_read>
        </resources>
	</global>
    <admin>
        <routers>
            <autosearch>
                <use>admin</use>
                <args>
                    <module>Ves_Autosearch</module>
                    <frontName>autosearch</frontName>
                </args>
            </autosearch>
        </routers>
    </admin>

    <default>
        <ves_autosearch>
            <ves_autosearch>
                <show>1</show>
                <prefix></prefix>
                <limit>5</limit>
                <show_filter_category>1</show_filter_category>
                <show_image>1</show_image>
                <show_price>1</show_price>
                <thumbHeight>100</thumbHeight>
                <thumbWidth>100</thumbWidth>
            </ves_autosearch>
        </ves_autosearch>
    </default>
</config>