<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Socialsidebar>  
			<version>1.1.0</version>  
		</Ves_Socialsidebar>  
	</modules>
	<frontend>
        <routers>
            <vessocialsidebar>
                <use>standard</use>
                <args>
                    <module>Ves_Socialsidebar</module>
                    <frontName>vessocialsidebar</frontName>
                </args>
            </vessocialsidebar>
        </routers>
        <translate>
            <modules>
                <Ves_Socialsidebar>
                    <files>
                        <default>Ves_Socialsidebar.csv</default>
                    </files>
                </Ves_Socialsidebar>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_socialsidebar>
                    <file>ves_socialsidebar.xml</file>
                </ves_socialsidebar>
            </updates>
        </layout>
    </frontend>	
	<global>
		<blocks>
         <ves_socialsidebar>
            <class>Ves_Socialsidebar_Block</class>
         </ves_socialsidebar>
        </blocks>
        <models>
            <ves_socialsidebar>
                <class>Ves_Socialsidebar_Model</class>
                <resourceModel>ves_socialsidebar_mysql4</resourceModel>
            </ves_socialsidebar>  
        </models>
        <helpers>
            <ves_socialsidebar>
                <class>Ves_Socialsidebar_Helper</class>
            </ves_socialsidebar>
        </helpers>
        <resources>
            <ves_socialsidebar_setup>
                <setup>
                    <module>Ves_Socialsidebar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_socialsidebar_setup>
            <ves_socialsidebar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_socialsidebar_write>
            <ves_socialsidebar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_socialsidebar_read>
        </resources>
	</global>
    <default>
        <ves_socialsidebar>
            <ves_socialsidebar>
                <show>1</show>    
                <theme>transparent</theme>
                <maxWidth>979</maxWidth>
                <minWidth>0</minWidth>
                <domain>mysite.com</domain>  
                <addID></addID>   
            </ves_socialsidebar>
            <mobile_config>
                <mobileTheme>transparent</mobileTheme>
                <mobileStatus>latest</mobileStatus>      
            </mobile_config>
            
            <share_setting>
                <sharePosition>right</sharePosition>
                <share_service>facebook</share_service>
                <share_title>Thanks for sharing!</share_title>
                <share_mgs>Follow us</share_mgs>
                <themeShare>transparent</themeShare>
                <showDesktop>1</showDesktop>
                <showMobile>1</showMobile>
            </share_setting>
            <follow>
                <titleFollow>Follow</titleFollow>
                <themeFollow>transparent</themeFollow>
                <thankTitle_follow>Thanks for following!</thankTitle_follow>
                <showDesktop_follow>1</showDesktop_follow>
                <showMobile_follow>1</showMobile_follow>
                <Facebook></Facebook>
                <Twitter></Twitter>
                <GoogleFollow></GoogleFollow>
                <Youtube></Youtube>
                <Flickr></Flickr>
                <Vimeo></Vimeo>
                <Pinterest></Pinterest>
                <Instagram></Instagram>
                <LinkedIn></LinkedIn>
            </follow>
        </ves_socialsidebar>
    </default>
</config>
